{% extends 'main.html' %}
{% block content %}

<table>
    
    <th>Name</th>
    <th>Job title</th>
    <th>email</th>
    <th>date created</th>
    {%for applicant in applicants %}
    <tr>
        <td>Name: {{applicant.firstname }} {{applicant.lastname}} </td>
        <td>Job title: {{applicant.profession_Title}}</td>
        <td>email: {{applicant.email}}</td>
        <td>date created: {{applicant.created}}</td>
        <td><a href="{% url 'applicant' applicant.id %}">View</a></td>
        <td><a href="{% url 'update-applicant' applicant.id %}">Edit</a></td>
        <td><a href="{% url 'delete-applicant' applicant.id %}">Delete</a></td>
        
        <td></td>
    </tr>
    {% endfor %}
</table>

 <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Search for <span>Applicants</span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="#" method="get">
            <div class="form__field">
              <label for="formInput#search">Search By Profession </label>
              <input class="input input--text" id="formInput#search" type="text" name="text"
                placeholder="Search by Profession" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
          {%for applicant in applicants %}
          <div class="column">
            <div class="card project">
              <a href="{% url 'applicant' applicant.id %}" class="project">
                <img class="project__thumbnail" src="{{applicant.profile_picture.url }}" alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title"> Profession: {{applicant.profession_Title}}</h3>
                  <p><a class="project__author" href="{{applicant.profile_picture.url }}"> Name: {{applicant.firstname }} {{applicant.lastname}}</a></p>
                  <p><a class="project__author" href="profile.html"> email: {{applicant.email}}</a></p>
                  <p><a class="project__author" href="profile.html"> email: {{applicant.email}}</a></p>
                 
                  <div class="project__tags">
                    <span class="tag tag--pill tag--main">
                      <small>date created: {{applicant.created}}</small>
                    </span>
                    <a href=""><span class="tag tag--pill tag--main">
                                  <small>send mail</small>
                                </span>
                    </a>
                    
                  </div>
                </div>
              </a>
            </div>
          </div>
           {% endfor %}
         

        </div>
      </div>
    </section>

    <div class="pagination">
      <ul class="container">
        <li><a href="#" class="btn btn--disabled">&#10094; Prev</a></li>
        <li><a href="#" class="btn btn--sub">01</a></li>
        <li><a href="#" class="btn">02</a></li>
        <li><a href="#" class="btn">03</a></li>
        <li><a href="#" class="btn">04</a></li>
        <li><a href="#" class="btn">05</a></li>
        <li><a href="#" class="btn">06</a></li>
        <li><a href="#" class="btn">07</a></li>
        <li><a href="#" class="btn">08</a></li>
        <li><a href="#" class="btn">09</a></li>
        <li><a href="#" class="btn">10</a></li>
        <li><a href="#" class="btn">Next &#10095;</a></li>
      </ul>
    </div>
  </main>

{% endblock content %}